Q1) Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.
Examples

1. next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
2. next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
3. next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
4. next_in_line([], 6) ➞ &quot;No list has been selected&quot;

In [1]:
#option 1
next_in_line = lambda listy, num: listy[1:] + [num] if listy else "No list has been selected"
print(next_in_line([1, 10, 20, 42 ], 6))

#option 2
def next_in_line(listy, num):
    listy.remove(listy[0])
    listy.append(num)
    return listy

next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

[10, 20, 42, 6]

Q2) Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.
Examples

get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 23000 },
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 40000 },
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 2700 }
]) ➞ 65700

get_budgets([
{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 29000 },
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 32000 },
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 1600 }
]) ➞ 62600

In [2]:
get_budgets = lambda listy: sum([dictt['budget'] for dictt in listy])

get_budgets([ { "name": "John", "age": 21, "budget": 23000 },
             { "name": "Steve", "age": 32, "budget": 40000 },
             { "name": "Martin", "age": 16, "budget": 2700 } ])

65700

Q3) Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples

1. alphabet_soup(&quot;hello&quot;) ➞ &quot;ehllo&quot;
2. alphabet_soup(&quot;edabit&quot;) ➞ &quot;abdeit&quot;
3. alphabet_soup(&quot;hacker&quot;) ➞ &quot;acehkr&quot;
4. alphabet_soup(&quot;geek&quot;) ➞ &quot;eegk&quot;
5. alphabet_soup(&quot;javascript&quot;) ➞ &quot;aacijprstv&quot;

In [3]:
alphabet_soup = lambda string: "".join(sorted(string))

alphabet_soup("hello")

'ehllo'

Q4) Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?

Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.
For the example above:
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
daily.
Examples

1. compound_interest(100, 1, 0.05, 1) ➞ 105.0
2. compound_interest(3500, 15, 0.1, 4) ➞ 15399.26
3. compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [4]:
def compound_interest(p, t, r, n):
    return round(p * (1 + (r/n))**(n*t),2)

compound_interest(3500, 15, 0.1, 4)

15399.26

Q5) Write a function that takes a list of elements and returns only the integers.
Examples

1. return_only_integer([9, 2, &quot;space&quot;, &quot;car&quot;, &quot;lion&quot;, 16]) ➞ [9, 2, 16]
2. return_only_integer([&quot;hello&quot;, 81, &quot;basketball&quot;, 123, &quot;fox&quot;]) ➞ [81, 123]
3. return_only_integer([10, &quot;121&quot;, 56, 20, &quot;car&quot;, 3, &quot;lion&quot;]) ➞ [10, 56, 20,
3]
4. return_only_integer([&quot;String&quot;, True, 3.3, 1]) ➞ [1]

In [5]:
is_integer = lambda num: True if type(num)==int else False
return_only_integer = lambda listy: list(filter(is_integer, listy))

return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]